<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
    <link rel="stylesheet" href="/styles/lista.css"/>
</head>
<body>
<div class="container">
    <h2 style="color: #800080;">Lista de Clases</h2> <!-- Título bonito -->
    <table>
        <thead>
        <tr>
            <th>Clase</th>
            <th>Usuarios inscritos</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clase : ${clases}">
            <td th:text="${clase.nombreClase}"></td>
            <td>
                <ul>
                    <li th:each="usuario : ${clase.usuarios}" th:text="${usuario.username}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>