<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | GymLife</title>

    <!-- Link LoginStyle.css -->
    <link rel="stylesheet" href="/styles/loginStyle.css">
</head>
<body>
    <div class="login-container">
        <form action="/login" method="post">
            <h2>Login</h2>
            
            <!-- Username -->
            <div class="input-field">
                <input type="text" name="username" id="username" required>
                <label for="username">Ingresa tu username</label>
            </div>
            
            <!-- Password -->
            <div class="input-field">
                <input type="password" name="password" id="password" required>
                <label for="password">Ingresa tu contraseña</label>
            </div>

            <!-- Recordar Contraseña -->
            <div class="password-opciones">
                <label for="recordar">
                    <input type="checkbox" id="recordar" name="remember-me">
                    <p>Recordar</p>
                </label>
                <a href="#">Recuperar Contraseña</a>
            </div>
            <button type="submit">Iniciar Sesión</button>
            <div class="account-opciones">
                <p>¿Aún no tienes una cuenta? <a href="#">Registrarse</a></p>
            </div>
        </form>
    </div>
</body>
</html>
